@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.item {
    width: 150px;
    margin: 0 auto ;
    background-color: #337CCF;
    height: auto;
    padding: .6rem 1rem;
    color: #fff;
}