@mixin set-delay($delay) {
  transition-delay: $delay ms !important;
}
// Variables
$default-duration: 300ms;
$default-delay: 0;

// Mixin for scroll animation
@mixin scroll-animation {
  opacity: 0;
  transition: all var(--scroll-duration, 0.4s);
}

[data-scroll-animation] {
  @include scroll-animation;

  &[data-scroll-animation="slide-down"] {
    transform: translateY(-100%);
  }

  &[data-scroll-animation="slide-right"] {
    transform: translateX(-100%);
    filter: blur(2px);
  }

  &[data-scroll-animation="slide-left"] {
    transform: translateX(100%);
    filter: blur(2px);
  }

  &[data-scroll-animation="slide-up"] {
    transform: translateY(100%);
  }

  &[data-scroll-animation="fade-in"] {
    opacity: 0;
  }
}

.show-scroll-animation {
  opacity: 1 !important;
  filter: blur(0px) !important;
  transform: translate(0px, 0px) !important;
}

@media (prefers-reduced-motion) {
  [data-scroll-animation].hide-scroll-animation {
    transition: none !important;
  }
}
